{% extends 'base.html.twig' %}

{% block title %}Edit Shirt{% endblock %}

{% block body %}
    <h1>Edit Shirt</h1>

    {{ include('shirt/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('home') }}">Back to Home</a>

    {{ include('shirt/_delete_form.html.twig') }}
{% endblock %}
