{% extends 'base.html.twig' %}

{% block title %}New Shirt{% endblock %}

{% block body %}
    <h1>Create new Shirt</h1>

    {{ include('shirt/_form.html.twig') }}

    <a href="{{ path('home') }}">back to list</a>
{% endblock %}
