{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center my-4">
                <h1>Message</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Content</th>
                        <td>{{ message.content }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ message.date ? message.date|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
