{% extends 'base.html.twig' %}

{% block title %}HOME{% endblock %}

{% block body %}

    <div class="d-flex justify-content-end mt-5 me-5">
        <div class="btn-group dropstart">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Categories
            </button>
            <ul class="dropdown-menu">
                {% if categories %}
                    {% for category in categories %}
                        {{ include ('_category_data.html.twig', {'category': category }) }}
                    {% endfor %}
                {% else %}
                    <p>No category found</p>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            {% if shirts %}
                {% for shirt in shirts %}
                    {{ include ('_shirt_data.html.twig', {'shirt': shirt }) }}
                {% endfor %}
            {% else %}
                <p>No shirts found</p>
            {% endif %}
        </div>
        <div class="row mt-3">
            <div class="col-12 d-flex justify-content-center">
                <div class="pagination">
                    {{ knp_pagination_render(shirts) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
